<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>

    <script src="js/common/jquery.js"></script>
    <script type="text/javascript" src="layer/layer.js"></script>
    <link type="text/css" href="layer/skin/layer.css" rel="stylesheet">

    <!-- 自定义-->
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/checkNowuser.js"></script>
    <script type="text/javascript" src="js/search.js"></script>
    <script type="text/javascript" src="js/buyTicket.js"></script>

    <link type="text/css" href="css/buyTicket.css" rel="stylesheet">
    <link type="text/css" href="css/common.css" rel="stylesheet">

</head>
<body>
<div id="wrap">
    <div id="header">
        <img id="logo" src="./picture/logo.jpg" width="162" height="78"/>
        <input id="keyword" type="text" value="请输入内容" name="keyword"/>
        <img id="search" src="picture/search.png" width="40" height="40"/>
        <label id="userName" width="110" height="76">请登录</label>
    </div>
    <div id="mainbody">
        <div id="divselect">
            <ul>
            </ul>
        </div>
        <div class="left">
            <p id="cinemaNameAndHall"><!--哈艺时尚影城-白云YH城店 五号厅--></p>

            <p id="leftSeats">剩余<!--（剩余100个座位）--></p>

            <div class="seat"></div>
        </div>
        <div class="right">
            <img id="pricture" src="" width="182" height="243"/>

            <p id="filmName"><!--《夜孔雀》--></p>

            <p id="duration">片长：<!--片长：84分钟--></p>

            <p id="kind">类型：<!--类型：爱情--></p>

            <p id="cinemaName">影院：<!--影院：哈艺时尚影城-白云YH城店--></p>

            <p id="type">版本：<!--版本：2D 中文版--></p>

            <p id="startDate">场次：<!--场次：5月20日 23:10--></p>

            <p id="selectedSeats">座位：<!--座位：--></p>

            <p id="price">票价：<!--票价：50元/张--></p>

            <p id="ticketNum">票数：0<!--票数：0--></p>

            <p id="money">总计：￥0<!--总计：￥0--></p>
            <input type="button" id="buy" value="购票"/>
        </div>
    </div>
    <div id="footer">版权所有，盗版必究</div>
</div>
</body>
</html>
