<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
    <!-- 框架-->
    <script src="js/common/jquery.js"></script>
    <script type="text/javascript" src="layer/layer.js"></script>
    <script type="text/javascript" src="js/common/bootstrap.js"></script>
    <script type="text/javascript" src="js/common/bootstrap.min.js"></script>
    <link type="text/css" href="layer/skin/layer.css" rel="stylesheet">
    <link rel="stylesheet" href="css/common/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/common/bootstrap.css"/>

    <!-- 自定义-->
    <script type="application/javascript" src="js/common.js"></script>
    <script type="application/javascript" src="js/index.js"></script>
    <script type="application/javascript" src="js/filmInfo.js"></script>
    <link type = "text/css" href = "css/filmInfo.css" rel="stylesheet">
</head>
<body>
	<div id = "mainbody">
    	<div class = "left">
	    	<img id="pricture" width="500" height="700" />
        </div>
        <div class = "right">
                <h1 id="filmName"></h1>
                <p id="kind"></p>
                <p id="releaseDate"></p>
                <p id="description">
                <p id="duration"></p>
                <p id="actors"></p>
                <input type="button" id="showSession" value="购票"/>
        </div>
     </div>
</body>