<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>

    <!-- 框架-->
    <script src="js/common/jquery.js"></script>
    <script type="text/javascript" src="layer/layer.js"></script>
    <script type="text/javascript" src="js/common/bootstrap.js"></script>
    <script type="text/javascript" src="js/common/bootstrap.min.js"></script>
    <link type="text/css" href="layer/skin/layer.css" rel="stylesheet">
    <link rel="stylesheet" href="css/common/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/common/bootstrap.css"/>

    <!-- 自定义-->
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/list.js"></script>
    <link type="text/css" href="css/list.css" rel="stylesheet">

</head>
<body>
<div id="mainbody">
    <div class="top">
        <span id="topTitle"></span>
        <ul id="filmList"><hr/>
        </ul>
    </div>
    <div class="bottom">
        <span id="bottomTitle"></span>
        <ul id="cinemaList"><hr/>
        </ul>
    </div>
</div>
</body>