<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title id="webTitle"></title>
    <script src="js/common/jquery.js"></script>
    <script type="text/javascript" src="layer/layer.js"></script>
    <link type="text/css" href="layer/skin/layer.css" rel="stylesheet">
    <!--自定义-->
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/movie.js"></script>
    <script type="text/javascript" src="js/checkNowuser.js"></script>
    <link type="text/css" href="css/movie.css" rel="stylesheet">
    <link type="text/css" href="css/common.css" rel="stylesheet">

    <style type="text/css">
        #filmInfo{
            text-align: center;
        }

        .nowTab li,hr{
            clear: both;
        }

        .priceBox span{
            padding-left: 15px;
        }
        .clearFix li{
            list-style-type: none;
        }
        .clearFix a{
            color: black;
        }

        .timeBox{
            float: left;
        }

        .priceBox{
            float: left;
        }
    </style>

</head>

<body>
<div id="wrap">
    <div id="header">
        <img id="logo" src="./picture/logo.jpg" width="162" height="78"/>
        <input id="keyword" type="text" value="请输入内容" name="keyword"/>
        <img id="search" src="picture/search.png" width="40" height="40"/>
        <label id="userName" width="110" height="76">请登录</label>
    </div>
    <div id="mainbody">
        <div id="divselect">
            <ul id="user_selector">

            </ul>
        </div>
        <div class="left">
            <img id="filmPicture" src="" width="379" height="530"/>

            <p>
           	    <ul id="filmInfo">
                </ul>
            </p>
        </div>
        <div class="right">
            <div class="top">
                <h1 id="filmTitle"></h1>

                <ul id="nav">
                    <!--<li class="active">今天 5月20日</li>-->
                    <!--<li>明天 5月21日</li>-->
                    <!--<li>后天 5月22日</li>-->
                </ul>

                <hr/>
            </div>
            <div class="bottom" id="tab-list">
                <ul class="nowTab">
                    <!--<li>-->
                        <!--<h5 id="cinemaName">哈艺时尚影城-白云YH城店</h5>-->
                        <!--<h5 id="cinemaAddress">广州市白云区鹤龙一路208号商业楼三层</h5>-->

                        <!--<ul class="clearFix">-->
                            <!--<li>-->
                                <!--<a href="./buyTicket.html?sessionId=">-->
                                    <!--<div class="timeBox f1">-->
                                        <!--<p>17:35</p>-->
                                        <!--<p>英语 3D</p>-->
                                    <!--</div>-->

                                    <!--<div class="priceBox f1">-->
                                        <!--<span>￥33</span>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->

                        <!--</ul>-->

                        <!--<p>-->
                            <!--17:35 ￥33-->
                            <!--<input type="button" value="购票"/>-->
                            <!--22:40 ￥38-->
                            <!--<input type="button" value="购票"/>-->
                        <!--</p>-->
                    <!--</li>-->
                    <!--<hr/>-->
                    <!--<li>-->
                        <!--<h5>哈艺时尚影城-白云YH城店</h5>-->
                        <!--<h5>广州市白云区鹤龙一路208号商业楼三层</h5>-->

                        <!--<p>17:35 ￥33-->
                            <!--<input type="button" value="购票"/>-->
                            <!--22:40 ￥38-->
                            <!--<input type="button" value="购票"/>-->
                        <!--</p>-->
                    <!--</li>-->
                    <!--<hr/>-->
                    <!--<li>-->
                        <!--<h5>哈艺时尚影城-白云YH城店</h5>-->
                        <!--<h5>广州市白云区鹤龙一路208号商业楼三层</h5>-->

                        <!--<p>17:35 ￥33-->
                            <!--<input type="button" value="购票"/>-->
                            <!--22:40 ￥38-->
                            <!--<input type="button" value="购票"/>-->
                        <!--</p>-->
                    <!--</li>-->
                    <!--<hr/>-->
                    <!--<li>-->
                        <!--<h5>哈艺时尚影城-白云YH城店</h5>-->
                        <!--<h5>广州市白云区鹤龙一路208号商业楼三层</h5>-->

                        <!--<p>17:35 ￥33-->
                            <!--<input type="button" value="购票"/>-->
                            <!--22:40 ￥38-->
                            <!--<input type="button" value="购票"/>-->
                        <!--</p>-->
                    <!--</li>-->
                    <!--<hr/>-->
                    <!--<li>-->
                        <!--<h5>哈艺时尚影城-白云YH城店</h5>-->
                        <!--<h5>广州市白云区鹤龙一路208号商业楼三层</h5>-->

                        <!--<p>17:35 ￥33-->
                            <!--<input type="button" value="购票"/>-->
                            <!--22:40 ￥38-->
                            <!--<input type="button" value="购票"/>-->
                        <!--</p>-->
                    <!--</li>-->
                    <!--<hr/>-->
                    <!--<li>-->
                        <!--<h5>哈艺时尚影城-白云YH城店</h5>-->
                        <!--<h5>广州市白云区鹤龙一路208号商业楼三层</h5>-->

                        <!--<p>17:35 ￥33-->
                            <!--<input type="button" value="购票"/>-->
                            <!--22:40 ￥38-->
                            <!--<input type="button" value="购票"/>-->
                        <!--</p>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">版权所有，盗版必究</div>
</div>
</body>
</html>
