<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>欢迎</title>
    <!-- 框架-->
    <script src="js/common/jquery.js"></script>
    <script type="text/javascript" src="layer/layer.js"></script>
    <script type="text/javascript" src="js/common/bootstrap.js"></script>
    <script type="text/javascript" src="js/common/bootstrap.min.js"></script>
    <link type="text/css" href="layer/skin/layer.css" rel="stylesheet">
    <link rel="stylesheet" href="css/common/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/common/bootstrap.css"/>

    <!-- 自定义-->
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/register.js"></script>
    <link type="text/css" href="css/common.css" rel="stylesheet">
    <link type="text/css" href="css/register.css" rel="stylesheet">
</head>

<body>
<div id="wrap">
    <div id="registermainbody">
        <div id="divselect">
        </div>
        <img id="logo" src="./picture/logo.jpg" width="162" height="78"/>

        <div id="register">
            <div class="info">
                <span class="u_logo"></span>
                <input id="name" type="text" placeholder="请输入用户名或邮箱" size="40">
                <br>
                <input id="pwd" type="text" placeholder="请输入密码" size="40">
            </div>
            <div class="btn">
                <span class="p_logo"></span>
                <input id="register" type="button" value="注册">
                <input id="login" type="button" value="登录">
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
